
    body{
     background-color: lemonchiffon;
  
    
    
    
}


    input{
        background-color: chartreuse;
        border-radius: 10px;
        color: darkred;
    }

    h1{
        color: rgb(43, 226, 134);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        font-size: 80px;
    }

    .products{
        width:50%;
        float: left;
    }

    .video{
        width: 50%;
        float: left;
        text-align: center;
        margin-top: 10%;
        
    }

    h2{
        color:midnightblue;
    }

    h3{
        color: coral;
    }


    p{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style: italic;
    }

     .index{
     color: coral;
   
 }

     .producto{
     color: darkgreen;
    

 }

     .contacto{
     color: hotpink;
    
 }

    header{
        text-align: center;
    }


